.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  background-color: rgb(243, 238, 238);
  font-size: 24px;
  font-weight: 600;
}

.skills-container > h1 {
  font-size: 50px;
}

.skills-container h2 {
  font-size: 28px;
  border-bottom: 8px solid rgb(104, 160, 21);
  margin-bottom: 20px;
}

.skills-second {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.skills-frontend {
  list-style-type: none;
  text-align: center;
}

.skills-frontend > li {
  margin: 9px 0;
}

.skills-backend {
  list-style-type: none;
  text-align: center;
}

.skills-backend > li {
  margin: 9px 0;
}

.best-skill {
  border-bottom: 4px solid red;
}

@media only screen and (max-width: 960px) {
  .skills-container {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .skills-container > h1 {
    font-size: 40px;
  }

  .skills-container h2 {
    font-size: 24px;
    border-bottom: 6px solid rgb(104, 160, 21);
  }

  .skills-second {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }

  .best-skill {
    border-bottom: 2px solid red;
  }
}
