.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  padding: 80px;
}

.about-information {
  padding: 80px;
}

.about-title {
  margin-bottom: 20px;
}

.headshot-container > img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}

@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    font-size: 24px;
    padding: 10px;
  }

  .about-information {
    padding: 20px;
  }

  .headshot-container > img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
  }
}
